!!!
%html
    %body
        =yield
        %form(action="/" method="POST")
            %label(for="url")
            Acorta esta url:
            %input(type="text" name="url" id="myurl" autofocus size=100 accesskey="s")
            %br
            a / 
            (Opcional)
            %input(type="submit" value="Shorten")
            %input(type="text" name="myurlshort" id="myurlshort" size=30)
